.money-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #22C28C;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 3px;
    position: sticky;
    top: 0px;
}