.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 25px 20px;
    gap: 20px;
}

img {
    display: block;
    height: 120px;
    margin: 15px auto;
    max-width: 100%;
    object-fit: contain;
}

.product-name {
    font-size: 2rem;
}

.price-text {
    color: #22C28A;
    font-size: 1.5rem;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

.sell-active {
    background-color: #F53B6C;
    color: white;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.buttons * {
    width: 33%;
    height: 45px;
}

.buttons button {
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.buttons .buy-btn {
    background-color: #22C28A;
    color: white;
}

button:disabled {
    background-color: #F1F2F6;
    color: black;
}